.main__block_a:hover{
    width: 450px;
    height: 510px;
    transition: 1s;
    background-color: #F24505;
    .block__btn_a{
        width: 250px;
        transition: 1s;
        background-color: #F24505;
    }
}
.main__block_a:not(:hover){
    transition: 1s;
    .block__btn_a{
        transition: 1s;
    }
}
.main__block_b:hover{
    width: 450px;
    height: 510px;
    transition: 1s;
    background-color: #FA7F08;
    .block__btn_b{
        width: 250px;
        transition: 1s;
        background-color: #FA7F08;
    }
}
.main__block_b:not(:hover){
    transition: 1s;
    .block__btn_b{
        transition: 1s;
        background-color: #9FF8EF;
    }
}
.main__block_c:hover{
    width: 450px;
    height: 510px;
    transition: 1s;
    background-color: #9FF8EF;
    .block__btn_c{
        width: 250px;
        transition: 1s;
        background-color: #9FF8EF;
    }
}
.main__block_c:not(:hover){
    transition: 1s;
    .block__btn_c{
        transition: 1s;
        background-color: #FA7F08;
    }
}
.main__block_d:hover{
    width: 450px;
    height: 510px;
    transition: 1s;
    background-color: #23BBBB;
    .block__btn_d{
        width: 250px;
        transition: 1s;
        background-color: #23BBBB;
    }
}
.main__block_d:not(:hover){
    transition: 1s;
    .block__btn_d{
        transition: 1s;
        background-color: #F24505;
    }
}

